<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gallery.websoket.mapper.WsUserSubscriptionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gallery.websoket.model.WsUserSubscription">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="topic_id" property="topicId" />
        <result column="status" property="status" />
        <result column="subscribed_at" property="subscribedAt" />
        <result column="unsubscribed_at" property="unsubscribedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, topic_id, status, subscribed_at, unsubscribed_at
    </sql>

</mapper>
