<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gallery.websoket.mapper.WsUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gallery.websoket.model.WsUser">
        <id column="id" property="id" />
        <result column="system_name" property="systemName" />
        <result column="external_user_id" property="externalUserId" />
        <result column="push_status" property="pushStatus" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, system_name, external_user_id, push_status, created_at, updated_at
    </sql>

</mapper>
